.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--color-teal-700);
    cursor: pointer;

    .button-label{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    &:active{
        animation: radiate 7s linear;
    }
}

@keyframes radiate {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 0 20px rgba(0, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
    }
}